@import '../../colors.scss';

svg {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.cluster-1 {
	transform: rotate(180deg) translate(-62%, -140%) scale(1.6);
}
.cluster-4 {
	transform: translate(-6.8%, -24%) scale(1.5);
}
.cluster-2 {
	transform: translate(45%, -8%) scale(1.4);
}
.cluster-3 {
	transform: translate(70.3%, 72%) scale(1.5);
}

.presentation-active {
	.cluster-2 {
		transform: translate(-14%,-8%) scale(1.4);
	}
	.cluster-3 {
		transform: translate(17.3%, 77%) scale(1.2);
	}
}

g[class^=cluster-] {
	transition: transform var(--speaker-text-transition);
}

g[class^=cluster-] path {
	stroke-miterlimit: 10;
	opacity: 0;
	transition: opacity 6s;
}

g[class^=cluster-] path.show {
	opacity: .4;
}

path {
	fill: #fff;
}

.visual {
	&.yellow {
		path {
			fill: $color-black;
		}
		g[class^=cluster-] path.show {
			opacity: .3;
		}
	}
	&.white path{
		fill: $color-red;
	}
}