@import '../../colors.scss';


.visual {
/* 	width: 3280px;
	height: 1080px;
 */
	position: relative;
	z-index: 1;
	width: 100%;
	height: var(--screen-height);
	background-color: $color-white;
	transition: background-color var(--color-transition);
	overflow: hidden;

	&.centered {
		height: 100vh;
		width: calc( 3 * 100vh);
	}

	&.presentation-active,
	&.midsession-slides-active,
	&.logo-only  {
		z-index: 1;
	}

}

.visual {
	&.red.presentation-active {
		background-color: darken($color-red, 25%);
	}
	&.green.presentation-active {
		background-color: darken($color-green, 10%);
	}
	&.blue.presentation-active {
		background-color: darken($color-blue, 10%);
	}
	&.yellow.presentation-active {
		background-color: darken($color-yellow, 10%);
	}
	&.white.presentation-active {
		background-color: $color-white;
	}
	&.black.presentation-active  {
		background-color: $color-black;
	}
	&.purple.presentation-active {
		background-color: darken($color-purple, 15%);
	}
	&.orange.presentation-active {
		background-color: $color-orange;
	}

    &.skyblue.presentation-active {
		background-color: darken($color-skyblue, 0%);
	}
    &.macncheese.presentation-active {
		background-color: darken($color-macncheese, 0%);
	}
    &.lilac.presentation-active {
		background-color: darken($color-lilac, 0%);
	}
    &.cyan.presentation-active {
		background-color: darken($color-cyan, 0%);
	}
    &.jazzberry.presentation-active {
		background-color: darken($color-jazzberry, 0%);
	}
    &.heatherblue.presentation-active {
		background-color: darken($color-heatherblue, 0%);
	}
}

.visual div[class^=rectangle-] {
	transition: 
		transform var(--speaker-text-transition), 
		background-color var(--color-transition);
	position: absolute;
	width: 100vw;
	height: 100vw;
}

.visual {
	.rectangle-left {
		bottom: 0;
		transform-origin: bottom right;
		background-color: $color-purple;
	}
	.rectangle-right {
		top: 0;
		transform-origin: bottom right;
		background-color: $color-orange;
	}
	.rectangle-bottom {
		bottom: 0;
		transform-origin: top left;
		background-color: $color-secondarypurple;
	}

	.rectangle-left {
		transform: translate(-96%, 4%) rotate(13deg);
	}
	.rectangle-right {
		transform: translate(80%, -64.8%) rotate(13deg);
	}
	.rectangle-bottom {
		transform: translate(50%, 93%) rotate(13deg);
	}

	&.logo-only {
		.rectangle-left {
			transform: translate(-75%, -6%) rotate(-13deg);
		}
		.rectangle-right {
			transform: translate(95%, -19%) rotate(-13deg);
		}
		.rectangle-bottom {
			transform: translate(38%, 102%) rotate(0deg);
		}
	}

	&.midsession-slides-active {
		.rectangle-left {
			transform: translate(-84%, -4%) rotate(-13deg);
		}
		.rectangle-right {
			transform: translate(104%, -18%) rotate(-13deg);
		}
		.rectangle-bottom {
			transform: translate(38%, 102%) rotate(0deg);
		}
	}

	&.presentation-active {
		.rectangle-left {
			transform: translate(-100%, 4%) rotate(-26deg);
		}
		.rectangle-right {
			transform: translate(110%, -18%) rotate(0deg);
		}
		.rectangle-bottom {
			background-color: $color-black;
			transform: translate(4%, 79.4%) rotate(-13deg);
		}
	}
	&.black.presentation-active  {
		.rectangle-bottom {
			border: 1px solid  lighten($color-purple, 10%);
		}
	}
}





.presentation-active {
	.cluster-2 {
		transform: translate(-14%,-8%) scale(1.4);
	}
	.cluster-3 {
		transform: translate(17.3%, 77%) scale(1.2);
	}
}



g[class^=cluster-] path.show {
	opacity: .7;

	.midsession-slides-active & {
		opacity: 1;
	}
}