@import '../../colors.scss';

.mid-session-slides {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 100%;

	display: flex;
	flex-direction: rows;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	transition: top 2s;

	.midsession-slides-active & {
		top: 0;
	}

	.sponsors {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;

		display: flex;
		flex-flow: column;

		justify-content: center;
		align-items: center;

		&-top,
		&-mid,
		&-bottom {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: center;
			width: 70%;
		}

		&-top {
			width: 70%;
		}

		&-mid {
			width: 70%;
			padding-bottom: .5%;
			padding-top: 1%;
		}

		&-bottom {
			justify-content: center;
		}

		.large {
			width: 40%;
			margin: 3% 3%;
		}
		.medium {
			width: 22%;
			margin: .5% 2%;
		}
		.small {
			width: 10%;
			margin: 0%;
		}
	}

	.slideshow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;

		display: flex;
		flex-flow: column;

		justify-content: center;
		align-items: center;

		transition: opacity .7s 0s;

		opacity: 0;

		&.show {
			opacity: 1;
			transition: opacity .7s .7s;
		}

		.sponsor-slide {
			width: 60%;
		}
	}



	.logo-only & {
		top: 0;
	}

	.logo-only & .logo {
		opacity: 1;
	}

	h1 {
		margin: 0;
		font-size: 3vw;
	}

	.session-list {
		width: 50%;
		transform: translateX(21%);
		display: grid;
		font-size: 1.5vw;
		grid-gap: 1.8vw;
		grid-template-columns: 4vw auto;

		dd {
			line-height: 135%;
			margin: 0;
			font-weight: 200;
		}

		dt {
			line-height: 135%;
			border-left:  .1rem solid #00000077;
			padding-left: 2vw;
		}
	}

	.session-name {
		display: block;
		font-weight: 200;
		padding-top: 1%;
	}
}

