@import '../../colors.scss';

:root {
	--speaker-text: calc(calc(100vw * var(--screen-ratio)) / 100);
	--speaker-text-transition: 1.4s;
}

.midsession-slides-active .speaker-info,
.logo-only .speaker-info  {
	transform: translateY(-80vh);
	opacity: 0;
}

.speaker-info {
	position: absolute;
	z-index: 5;
	padding-left: 2rem;

	& .name,
	& .topic,
	& .twitter {
		display: block;
		transition: font-size .4s;
	}

	& .name {
		font-weight: 700;
		line-height: 3rem;

		& .twitter {
			font-weight: 500;
			font-size: .8em;
		}
	}

	.event-css & .name {
		text-transform: uppercase;
	}
	& .name,
	& .topic {
		transition:
			opacity var(--speaker-text-transition),
			color var(--color-transition);
	}

	& .name {
		color: $color-purple;
	}
	& .topic {
		font-weight: 400;
		color: $color-orange;
		
	}

	transition:
		top var(--speaker-text-transition),
		left var(--speaker-text-transition),
		transform  var(--speaker-text-transition),
		opacity var(--speaker-text-transition),
		padding-left  var(--speaker-text-transition),
		color var(--color-transition);
}

.speaker-info {
	top: 31%;
	left: 48%;
	width: 26%;

	& .name {
		padding-bottom: calc( 1.5 * var(--speaker-text));
		font-size: calc( 7 * var(--speaker-text));
	}

	& .topic {
		font-size: calc( 4.3 * var(--speaker-text));
		line-height: calc( 5.8 * var(--speaker-text));
	}

	&.show-speaker-info {
		top: 31%;
	}
}

.presentation-active .speaker-info {
	top: 22%;
	left: 6%;
	transform: translateY(-50%) scale(.66);
	padding-left: 1rem;

	& .name {
		opacity: .8;
		color:$color-white;
	}

	& .topic {
		opacity: .6;
		color:$color-white;
	}

	
}


.speaker-info .logo {
	position: absolute;
	top: 0;
	left: 0;
	height: 120%;
    transform: translate(-90%, -18%);
}