@import '../../colors.scss';

:root {
	--speaker-text: calc(calc(100vw * var(--screen-ratio)) / 100);
	--speaker-text-transition: 1.4s;
}

.midsession-slides-active .speaker-info,
.logo-only .speaker-info  {
	transform: translateY(-80vh);
	opacity: 0;
}

.speaker-info {
	position: absolute;
	z-index: 5;
	padding-left: 2rem;

	& .name,
	& .topic,
	& .twitter {
		display: block;
		transition: font-size .4s;
	}

	& .name {
		font-weight: 700;
		line-height: 3rem;

		& .twitter {
			font-weight: 500;
			font-size: .8em;
		}
	}

	.event-css & .name {
		text-transform: uppercase;
	}
	& .name,
	& .topic {
		transition:
			opacity var(--speaker-text-transition),
			color var(--color-transition);
	}

	& .name {
		color: $color-purple;
	}
	& .topic {
		font-weight: 400;
		color: $color-orange;
		
	}
	transition-timing-function: ease-in-out;
	transition:
		top var(--speaker-text-transition),
		left var(--speaker-text-transition),
		transform var(--speaker-text-transition),
		opacity var(--speaker-text-transition),
		padding-left  var(--speaker-text-transition),
		color var(--color-transition);
}

.speaker-info {
	top: 31%;
	left: 48%;
	width: 33%;

	& .name {
		padding-bottom: calc( 3 * var(--speaker-text));
		font-size: calc( 7 * var(--speaker-text));
	}

	& .topic {
		font-size: calc( 4.3 * var(--speaker-text));
		line-height: calc( 5.8 * var(--speaker-text));
	}

	&.show-speaker-info {
		top: 31%;
	}
}

.presentation-active .speaker-info {
	top: 19%;
	left: 5%;
	transform: translate(-23%, -50%) scale(0.66) rotate(-13deg);
	padding-left: 2rem;
	
	& .name,
	& .topic {
		opacity: .9;
		color: $color-white;
	}

	& .topic {
		opacity: .7;
	}
}

.speaker-info .logo-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate(-100%, 0);
	overflow: hidden;
	//border-right: 2px solid $color-white;

	.logo {
		height: 128%;
		transform: translate(7%, -22.3%);
		transition-timing-function: ease-in-out;
		transition:
			transform calc(var(--speaker-text-transition) / 3);
	}

}
.presentation-active .speaker-info {
	
	.logo-container {
		border-right: 2px solid $color-white;

		.logo {
			transform: translate(85%, -22.3%);
		}
	}
}

.presentation-active {
	&.white,
	&.lilac {
		.name,
		.topic {
			opacity: 1;
			color: darken($color-purple, 10%);
		}

		.logo-container {
			border-right: 2px solid darken($color-purple, 10%);
		}
	}

	&.cyan,
	&.macncheese,
	&.yellow {
		.name,
		.topic {
			color: $color-black;
		}

		.logo-container {
			border-right: 2px solid $color-black;
		}
	}

	&.skyblue {
		.name,
		.topic {
			opacity: 1;
			color: darken($color-blue, 30%);
		}

		.logo-container {
			border-right: 2px solid darken($color-blue, 30%);
		}
	}
} 
