@import '../colors.scss';

// 3280 x 1080
:root {
	--screen-ratio: 0.33333333;
	--color-red: $color-red;
	--color-blue: $color-blue;
	--color-yellow: $color-yellow;
	--color-green: $color-green;
	--color-white: $color-white;
	--color-black: $color-black;

	--color-transition: 3s;

	--screen-height: calc(100vw * var(--screen-ratio));
}

html, body {
	background: $bg-color;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'sans-serif';
}
.event-js {
	font-family: 'Roboto', 'sans-serif';
}
.event-css {
	font-family: 'Rubik', 'sans-serif';
}

.visual {
	position: relative;
	z-index: 1;
	width: 100%;
	height: var(--screen-height);
	background: hsla(115, 44%, 31%, 1);
	transition: background-color var(--color-transition);
	overflow: hidden;
}




// debug, planning

.presentation {
	z-index: 10;
	position: absolute;
	height: var(--screen-height);
	width: calc(var(--screen-height) / 0.5625);

	top: 0;
	right: 0;
	opacity: 0;
	background: url('./screen-test-pattern.png') no-repeat;
	background-size: cover;
}

.presentation-active ~ .presentation {
	opacity: 1;
}

.silhouette {
	z-index: 10;
	position: absolute;
	background: url('./silhouette.png') no-repeat;
	background-size: contain;
	height: calc(.586 * var(--screen-height));
	width: 10%;
	left: 17vw;
	top: calc(1.266666 * var(--screen-height));
	transform: translateY(-99%);
	background-size: auto 108%;
    background-position: 0 36%;
}

.stage-bottom {
	position: absolute;
	z-index: 9;
	background: hsl(0, 0%, 22%);
	width: 100vw;
	top: var(--screen-height);
	height: calc(0.266666 * var(--screen-height));
}
