$bg-color: #000000;

$color-red: #DB3127;
$color-blue: #3580C2;
$color-yellow: #f2de48;
$color-green: #43a447;
$color-purple: #663399;
$color-secondarypurple: #B669B1;
$color-orange: #EC6E60;
$color-white: #ffffff;
$color-black: #000000;

$color-salmon: #F05D5E;