$bg-color: #000000;

$color-red: #DB3127;
$color-blue: #3580C2;
$color-yellow: #f7df1e;
$color-green: #43a447;
$color-purple: #663399;
$color-secondarypurple: #B669B1;
$color-orange: #EC6E60;
$color-white: #ffffff;
$color-black: #000000;

$color-salmon: #F05D5E;

$color-skyblue: #87CEEB;
$color-macncheese: #ffbd88;
$color-lilac: #C8A2C8;
$color-cyan: #0EB8BE;
$color-jazzberry: #a50b5e;
$color-heatherblue: #6B83A4;