$bg-color: #0c0c0c;

$color-red: #DB3127;
$color-blue: #3580C2;
$color-yellow: #f2de48;
$color-green: #43a447;
$color-purple: #673ab7;
$color-orange: #ff5722;
$color-white: #dedede;
$color-black: #0f0f0f;

$color-salmon: #F05D5E;